.DS_Store
node_modules
src/bower_components
src/css/maps
.idea
dist/404.php
dist/archive.php
dist/author.php
dist/category.php
dist/comments.php
dist/footer.php
dist/functions.php
dist/header.php
dist/index.php
dist/loop.php
dist/page.php
dist/pagination.php
dist/screenshot.png
dist/search.php
dist/searchform.php
dist/sidebar.php
dist/single.php
dist/tag.php
dist/template-demo.php
dist/img/gravatar.jpg
dist/img/logo.png
dist/img/logo.svg
dist/img/icons/favicon.ico
dist/img/icons/touch.png
dist/js/scripts.min.js
dist/languages/cy_GB.mo
dist/languages/cy_GB.po
dist/languages/de_DE.mo
dist/languages/de_DE.po
dist/languages/es_CL.mo
dist/languages/es_CL.po
dist/languages/es_ES.mo
dist/languages/es_ES.po
dist/languages/fa_IR.mo
dist/languages/fa_IR.po
dist/languages/fr_FR.mo
dist/languages/fr_FR.po
dist/languages/HTML5Blank.pot
dist/languages/hu_HU.mo
dist/languages/hu_HU.po
dist/languages/id_ID.po
dist/languages/it_IT.mo
dist/languages/it_IT.po
dist/languages/nl_NL.mo
dist/languages/nl_NL.po
dist/languages/pl_PL.mo
dist/languages/pl_PL.po
dist/languages/pt_BR.mo
dist/languages/pt_BR.po
dist/languages/ro_RO.mo
dist/languages/ro_RO.po
dist/modules/is-debug.php
src/style.css
src/css/style.css
src/css/style.css.map
src/js/lib/modernizr.js
